﻿body {
	background-color:  black;
}
#header {
	background-color: red ;
	color: #FFF;
	padding: 20px;
	text-align: center;
	}
#header h2{
	color:black;
	}
#home {
    position:fixed;
    left:50%;
    top:50%;
    height: 49em;
    width: 70em;
    margin-left: -35em;
    margin-top: -24.5em;
    /*border-width: 5px;
    border-style: solid;*/
}
	#home img {
		position: relative;
        height: 8em;
        width: 9em;
        margin-top: 1em;
        left: 50%;
        margin-left: -4.5em;
        font-size: 40px;
			
		
	}
    #home input {
		background-color: green;
        position: relative;
        height: 3em;
        width: 9em;
        margin-top: 1em;
        left: 50%;
        margin-left: -4.5em;
        font-size: 30px;
    }


@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
